# Исключения для Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
.venv/

# Локальная база данных
# Этот файл будет содержать уникальные данные для каждого пользователя
data/realty.db

# Папка сгенерированных отчетов
# Эти файлы создаются программой во время работы
reports/

# Файлы и папки IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 